.jumbotron {
	background-color: #ffffff!important;
	margin-bottom: 0px !important;
	text-align: center !important;
	height: 450px;
}

.jumbotron p {
	font-size: 18px !important;
	text-decoration: none !important;
	margin-top: 00px;
}

.jumbotron h1 {
	margin-top: 100px;
}

.text {
    width: 500px;
    height: 135px;
    font-family: 'open_sansbold';
    font-size: 65px;
    color: ##5e5f61;
    margin: 0 auto;
    line-height: 70px;
    text-align: center;
    margin-top: 90px;
}

.text2 {
    width: 900px;
    height: 160px;
    font-family: 'open_sansbold';
    font-size: 25px;
    color: ##5e5f61;
    margin: 0 auto;
    line-height: 40px;
    text-align: center;
    margin-top: 20px;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('OpenSans-Bold-webfont.eot');
    src: url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Bold-webfont.woff') format('woff'),
         url('OpenSans-Bold-webfont.ttf') format('truetype'),
         url('OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.Box-main{
	width: 100%;
	height: 360px;
	background-color: #ffffff;
	text-align: center;
	line-height: 70px;
	font-family: 'open_sansbold';
	font-size: 25px;
}

.Box-FB {
	width: 100%;
	height: 300px;
	background-color: #3B5998;
	text-align: center;
	line-height: 70px;
	font-family: 'open_sansbold';
	font-size: 25px;
}

.Box-YT {
	width: 100%;
	height: 300px;
	background-color: #bb0000;
	text-align: center;
	line-height: 70px;
	font-family: 'open_sansbold';
	font-size: 25px;
}

.Box-Twitter {
	width: 100%;
	height: 300px;
	background-color: #00aced;
	text-align: center;
	line-height: 70px;
	font-family: 'open_sansbold';
	font-size: 25px;
}

.Box-Insta {
	width: 100%;
	height: 300px;
	background-color: #517fa4;
	text-align: center;
	line-height: 70px;
	font-family: 'open_sansbold';
	font-size: 25px;
}

.Box-Link {
	width: 100%;
	height: 300px;
	background-color: #007bb6;
	text-align: center;
	line-height: 70px;
	font-family: 'open_sansbold';
	font-size: 25px;
}

.Box-Reddit {
	width: 100%;
	height: 300px;
	background-color: #336699;
	text-align: center;
	line-height: 70px;
	font-family: 'open_sansbold';
	font-size: 25px;
}

.Box-Google {
	width: 100%;
	height: 300px;
	background-color: #D84B37;
	text-align: center;
	line-height: 70px;
	font-family: 'open_sansbold';
	font-size: 25px;
}

.Box-RW {
	width: 100%;
	height: 315px;
	background-color: #252d57;
	text-align: center;
	line-height: 70px;
	font-family: 'open_sansbold';
	font-size: 25px;
}

.One {
	border-bottom: 3px solid #ffffff;
	margin: 0 auto;
	font-size: 40px;
	text-align: center;
	color: white;
}

.Twitter-Text {
	text-align: center;
	line-height: 70px;
	font-family: 'open_sansbold';
	color: white;
}

.Insta-Text {
	text-align: center;
	line-height: 70px;
	font-family: 'open_sansbold';
	color: white;
}

.Youtube-Text {
	text-align: center;
	line-height: 50px;
	font-family: 'open_sansbold';
	color: white;
}

.Facebook-Text {
	text-align: center;
	line-height: 50px;
	font-family: 'open_sansbold';
	color: white;
}

.RW-Text {
	text-align: center;
	line-height: 40px;
	font-family: 'open_sansbold';
	color: white;
}

.Google-Text {
	text-align: center;
	line-height: 50px;
	font-family: 'open_sansbold';
	color: white;
}

.Reddit-Text {
	text-align: center;
	line-height: 50px;
	font-family: 'open_sansbold';
	color: white;
}

.Linkedin-Text {
	text-align: center;
	line-height: 50px;
	font-family: 'open_sansbold';
	color: white;
}

.button {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.37);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.698) inset, 0 1px 0 0 rgba(0, 0, 0, 0.075);
    color: #5e5f61;
    cursor: pointer;
    display: inline-block;
    font-family: 'open_sansbold';
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    margin: 0;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    vertical-align: middle;
    margin-top: 33px;
}
.button:hover {
    background-color: #F6F6F6;
    outline: medium none;
}
.button:focus{
    outline: medium none;
}
.button:active, .button.active{
    background-color: #DDDDDD;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075) inset;
    outline: medium none;
}

.footer {
	color: #5e5f61;
	height: 25px;
	width: 100%;
	text-align: center;
	font-family: 'open_sansbold';
}

.top {
	color: #ffffff;
	width: 175%;
	text-align: center;
	font-family: 'open_sansbold';
    height: 74px;
    float: left;
    margin: 0 auto;
    position: fixed;
    background-color: #5e5f61;
    text-decoration: none;
    margin-top: -90px;
}

.contact {
	color: #ffffff;
	font-family: 'open_sansbold';
    font-size: x-large;
    margin-top: 17px;
    text-decoration: none;
}
